html {
  scroll-behavior: smooth;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color:rgb(255, 255, 255);
    text-align: center;  

}

img{
    width: 40%;
}
.imgsup{
  width: 100%;
}
.imgfunciona{
  width: 70%;
}
.qwertyimg{
  width: 20%;
}
.h1normal{
  padding:2%;
  background-color: rgb(255, 102, 0);
  color: white;
}
.h1shadow{
  padding: 2%;
  background-color: rgb(255, 102, 0);
  color: white;
  box-shadow: 10px 10px 5px grey;
}
/* ===== NAVIGATION ======*/
.navbar {
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0px 4px 7px #777;
}

.navbar-brand>img {
  padding: 0px; /* firefox bug fix */
  width: 20%;
}


.navbar li a, .navbar {
    color: black !important;
    font-family: Arial, Helvetica, sans-serif
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(255, 102, 0) !important;
}

/*boton link*/
a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid rgb(255, 102, 0);
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:rgb(255, 102, 0);
  font-weight: bold;
  text-align:center;
  transition: all 0.15s;
  }
  a.button2:hover{
  color:rgb(255, 142, 67);
  border-color:rgb(255, 142, 67);
  }
  a.button2:active{
  color:rgb(255, 142, 67);
  border-color:rgb(255, 142, 67);
  }
  @media all and (max-width:30em){
   a.button2{
  display:block;
  margin:0.4em auto;}
  }

  .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
    }

/*FAQS*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em
}

body{
  background: white;
  box-sizing: border-box;
}
section{
  padding: 10% 20%;
}
.animate{
  transition: all .3s;
}

input[name=question]{
    display: none;
}
input[name=question] + label{
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background:rgba(255, 102, 0);
    color: white;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background:white;
    color: white;
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + label{
    background: rgba(255, 102, 0);
    color: white;
}
input[name=question]:checked + label + .response{
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: black;
}

.fixed-height{
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}
