body
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color:rgb(255, 255, 255);
    text-align: center;  

}

img{
    width: 40%;
}
.imgsup{
  width: 100%;
}
.imgfunciona{
  width: 70%;
}
.h1normal{
  padding:2%;
  background-color: rgb(255, 102, 0);
  color: white;
}
.h1shadow{
  padding: 2%;
  background-color: rgb(255, 102, 0);
  color: white;
  box-shadow: 10px 10px 5px grey;
}
/* ===== NAVIGATION ======*/
.navbar {
    z-index: 9999;
    letter-spacing: 4px;
    background-color: rgb(255, 255, 255);

}

.navbar-brand>img {
  padding: 0px; /* firefox bug fix */
  width: 20%;
}


.navbar li a, .navbar {
    color: black !important;
    font-family: Arial, Helvetica, sans-serif
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(255, 102, 0) !important;
}

/*boton link*/
a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid rgb(255, 102, 0);
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:rgb(255, 102, 0);
  font-weight: bold;
  text-align:center;
  transition: all 0.15s;
  }
  a.button2:hover{
  color:rgb(255, 142, 67);
  border-color:rgb(255, 142, 67);
  }
  a.button2:active{
  color:rgb(255, 142, 67);
  border-color:rgb(255, 142, 67);
  }
  @media all and (max-width:30em){
   a.button2{
  display:block;
  margin:0.4em auto;}
  }

  .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
    }